<section class="layout_padding gradiant_bg cross_layout">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <div class="full text_align_center white_fonts">
                <div class="heading_main center_head_border heading_style_1">
                   <h2>Easy <span>Steps</span></h2>
                </div>
             </div>
          </div>
       </div>
       <div class="row step_section">
          <div class="offset-xl-1 col-xl-10 col-md-12">
             <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                   <div class="step_blog arrow_right_step">
                      <div class="step_inner">
                         <i class="fa fa-android"></i><br>
                         <p>Usar no celular</p>
                      </div>
                   </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                   <div class="step_blog">
                      <div class="step_inner">
                         <i class="fa fa-user"></i><br>
                         <p>Criar uma conta</p>
                      </div>
                   </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                   <div class="step_blog">
                      <div class="step_inner">
                         <i class="fa fa-download"></i><br>
                         <p>Baixar</p>
                      </div>
                   </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                   <div class="step_blog">
                      <div class="step_inner">
                         <i class="fa fa-thumbs-up"></i><br>
                         <p>Nos avalie!</p>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>