<section class="layout_padding layer_style">
    <div class="container">
       <div class="row">
          <div class="col-sm-12">
             <div class="full text_align_center">
                <div class="heading_main center_head_border heading_style_1">
                   <h2>Call <span>Fale mais</span></h2>
                </div>
             </div>
          </div>
       </div>
       <div class="row app-features">
          <div class="col-md-4 col-sm-6 col-xs-12">
             <ul class="features-left">
                <li>
                   <i class="flaticon-wordpress-logo"></i>
                   <div class="fl-inner">
                      <h4>Tarifas simplificadas</h4>
                      <p>Uma tarifa pra Fixo e outra pra Móvel. Incluindo TODAS operadoras, local e DDD.</p>
                   </div>
                </li>
             </ul>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
             <ul class="features-right">
                <li>
                   <i class="flaticon-pantone"></i>
                   <div class="fr-inner">
                      <h4>Qualidade de Áudio HD</h4>
                      <p>Seja pra fixo ou celular, nossa qualidade de áudio nas ligações é sempre cristalina.</p>
                   </div>
                </li>
             </ul>
          </div>
          <div class="col-md-4 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s">
             <div class="full">
                <div class="center">
                   <img src="assets/images/lista_telzir.png" alt="#" />
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>