<section class="contact_section">
    <div class="container-fluid">
       <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6" style="padding:0;">
             <div class="full">
                <div id="map"></div>
             </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6" style="padding:0;">
             <div class="full">
                <div class="contact_form white_heading_border">
                   <div class="contact_form_inner">
                      <div class="full_heading white_fonts heading_main heading_style_1">
                         <h2>Contato <span>aqui</span></h2>
                      </div>
                      <p>Entre em contato com a Call.</p>
                      <div class="form_contact">
                         <!-- form -->
                         <form action="index.html">
                            <fieldset>
                               <div class="field">
                                  <input type="text" name="name" placeholder="Your name" required="">
                               </div>
                               <div class="field">
                                  <input type="text" name="name" placeholder="Your phone" required="">
                               </div>
                               <div class="field">
                                  <input type="email" name="email" placeholder="Email" required="">
                               </div>
                               <div class="field">
                                  <textarea name="messager" placeholder="Messager" required=""></textarea>
                               </div>
                               <div class="field">
                                  <button class="field_bt">Send</button>
                               </div>
                            </fieldset>
                         </form>
                         <!-- end form -->
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>