<section class="layout_padding gradiant_bg cross_layout">
    <div class="container">
       <div class="row">
          <div class="col-md-4">
             <div class="information_blogs">
                <div class="imf_icon"><img src="assets/images/icon1.png" alt="#" /></div>
                <div class="imf_head">
                   <h3>Fale mais 30</h3>
                </div>
                <div class="imf_cont">
                   <p>Fale 30 minutos de graça</p>
                </div>
                <div class="imf_read"><a href="#">Saber mais</a></div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="information_blogs">
                <div class="imf_icon"><img src="assets/images/icon2.png" alt="#" /></div>
                <div class="imf_head">
                   <h3>Fale mais 60</h3>
                </div>
                <div class="imf_cont">
                   <p>Fale 60 minutos de graça</p>
                </div>
                <div class="imf_read"><a href="#">Saber mais</a></div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="information_blogs">
                <div class="imf_icon"><img src="assets/images/icon3.png" alt="#" /></div>
                <div class="imf_head">
                   <h3>Fale mais 120</h3>
                </div>
                <div class="imf_cont">
                   <p>Fale 120 minutos de graça</p>
                </div>
                <div class="imf_read"><a href="#">Saber mais</a></div>
             </div>
          </div>
       </div>
    </div>
 </section>