<section class="layout_padding padding_top_0">
    <div class="container">
       <div class="row margin_bottom_30">
          <!-- featured cont -->
          <div class="col-md-6 cont_theme_blog">
             <div class="full">
                <h3>Fale mais 30</h3>
                <p>Você pode falar por 30 minutos de graça. Caso exeda você só paga o valor de 10% sobre a tarifa normal
                   do minuto.</p>
             </div>
          </div>
          <!-- end featured cont -->
          <!-- featured image -->
          <div class="col-md-6 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s">
             <div class="full">
                <div class="center"><img src="assets/images/ser1.png" alt="#" /></div>
             </div>
          </div>
          <!-- end featured image -->
       </div>
       <div class="row margin_bottom_30">
          <!-- featured image -->
          <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.5" data-wow-duration="1s">
             <div class="full">
                <div class="center"><img src="assets/images/ser2.png" alt="#" /></div>
             </div>
          </div>
          <!-- end featured image -->
          <!-- featured cont -->
          <div class="col-md-6 cont_theme_blog">
             <div class="full">
                <h3>Fale mais 60</h3>
                <p>Você pode falar por 60 minutos de graça. Caso exeda você só paga o valor de 10% sobre a tarifa normal
                   do minuto.</p>
             </div>
          </div>
          <!-- end featured cont -->
       </div>
       <div class="row margin_bottom_30">
          <!-- featured cont -->
          <div class="col-md-6 cont_theme_blog">
             <div class="full">
                <h3>Fale mais 120</h3>
                <p>Você pode falar por 120 minutos de graça. Caso exeda você só paga o valor de 10% sobre a tarifa normal
                   do minuto.</p>
             </div>
          </div>
          <!-- end featured cont -->
          <!-- featured image -->
          <div class="col-md-6 wow fadeInRight" data-wow-delay="0.5" data-wow-duration="1s">
             <div class="full">
                <div class="center"><img src="assets/images/ser3.png" alt="#" /></div>
             </div>
          </div>
          <!-- end featured image -->
       </div>
    </div>
 </section>